/*google import font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*styles to override browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: black;
    font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue';
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 25vh;
    background: url(../images/index.html-images/pexels-life-of-pix-8892.jpg) no-repeat center center/cover;
}

/*styles for header*/
header {
    height: 25vh;
    background-color: black;
    color: white;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    background: url(../images/index.html-images/ameya-sawant-7RJTPLgwMsc-unsplash.jpg) no-repeat center bottom/cover;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 28vh;
}

#header > h1 {
    padding-top: 1.5rem;
}
/*styles for navigation*/
a {
    text-decoration: none;
    color: white;
}

.active {
    border-bottom: 2px solid #b30000;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;  
}

#nav > li {
    padding: 0 0.5rem;
}

/*INDEX.HTML MAIN CONTENT STYLES*/
/*about us styles*/
#about-us-section {
    width: 100vw;
    padding: 1rem 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/*reasons styles*/
#reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4d4d;
    text-shadow: 0 0 1px black;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem 0;
}

#booking {
    color: white;
    text-shadow: 0 0 1px black;
}
/*styles for what we teach section*/
#what-we-teach {
    background-color: black;
    color: white;
}

#what-we-teach > div {
    margin: 0.5rem 0.5rem;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-bgc > * {
    background-color: rgba(0, 0, 0, 0.5);
}

#boxing {
    background: url(../images/index.html-images/pexels-pixabay-290416.jpg) no-repeat center center/cover;
    background-color: black;
}

#kickboxing {
    background: url(../images/index.html-images/pexels-coco-championship-598686.jpg) no-repeat center center/cover;
    background-color: black;
}

#mma {
    background: url(../images/index.html-images/pexels-pavel-danilyuk-6295725.jpg) no-repeat center center/cover;
    background-color: black;
}

#bjj {
    background: url(../images/index.html-images/pexels-cottonbro-studio-7988366.jpg) no-repeat center 40%/cover;
    background-color: black;
}

#mauy-thai {
    background: url(../images/index.html-images/pexels-alexa-popovich-9302141.jpg) no-repeat center 30%/cover;
    background-color: black;
}

#one-to-one {
    background: url(../images/index.html-images/pexels-pavel-danilyuk-6295762.jpg) no-repeat center center/cover;
    background-color: black;
}

/*styles for session times*/
#session-times {
    width: 100%;
}
#session-times > div {
    margin: 4px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    text-shadow: 2px 2px #3a3a3a;
    background: url('../images/index.html-images/steven-cordes-pSWfkJgAKGg-unsplash.jpg') no-repeat center center/cover;
}

#Monday, #Tuesday, #Wednesday, #Thursday, #Friday, #Saturday {
    border: 2px solid whitesmoke;
    width: 45vw;
    text-align: center;
    left: 50px;
    padding: 4px 0;
    /*makes session timetable expand for each device*/
    flex-basis: 200px;
    align-self: center;
    flex-grow: 1;

}

/*GALLERY.HTML MAIN CONTENT STYLES*/
/*images styles*/
#images > img {
    width: 100%;
    line-height: 1em;
}

#images {
    line-height: 0;
}


/*CONTACT.HTML MAIN CONTENT STYLES*/
/*styles for price section*/
#prices {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    align-items: center;
}

#children, #teens, #adults {
    background-color: rgba(240, 42, 0, 0.7);
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FAQs styles*/
#FAQs {
    padding: 1rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
}

#FAQs > h3 {
    align-self: center;
}

#FAQs > p {
    margin-bottom: 0.75rem;
}

/*styles for enquiry form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}

form > input {
    height: 30px;
    padding: 5px;
}

textarea {
    height: 100px;
    overflow-y: scroll;
}

::placeholder {
    color: white;
}

#contact {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#enquiry {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#enquiry > h3 {
    align-self: center;
    margin-top: 1rem;
    color: white;
}

#enquiry-form > * {
    width: 70%;
    margin: 0.25rem 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 5px;
}

/*styles for footer*/
footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

footer > h2 {
    align-self: center;
    margin-top: 1rem;

}

footer > p {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    list-style-type: none;
    margin: 0.5rem 0;
}

/*media query for large of landscape phones*/
@media screen and (min-width: 576px) {
    /*main content styles*/
    main {
        margin-top: 21vh;
    }

    /*header styles*/
    header {
        height: 20vh;
    }

    #what-we-teach {
        width: 98%;
    }

    #what-we-teach > div {
        width: 100%;
        height: 150px;
    }
    
    /*GALLERY.HTML MAIN CONTENT*/
    #images {
        column-count: 2;
        column-gap: 0;
    }
}

/*media query for tablets and bigger*/
@media screen and (min-width: 768px) {
/*general style for body*/
    body {
        font-size: 150%;
    }

    main {
        margin-top: 28vh;
    }

    header {
        height: 28vh;
    }

/*INDEX.HTML MAIN CONTENT STYLES*/
/*reasons section styles*/
    #reasons {
        display: flex;
        flex-direction: row;
        font-size: 80%;
        justify-content: space-between;
        padding: 0 1rem;
    }

/*what we teach section styles*/
   #what-we-teach > div {
        width: 46%;
        height: 350px;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        padding-top: 1rem;
    }

    #what-we-teach {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
/*CONTACT.HTML MAIN CONTENT STYLES*/
/*price list styles*/
    #prices {
        width: 80%;
        align-self: center;
    }
/*contact info styles*/
    #contact {
        display: flex;
        width: 100%;
    }

/*FAQs styles*/
    #FAQs {
        width: 50%;
    }

/*styles for enquiry form*/
    #enquiry {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 48%;
        height: 300px;
        justify-content: center;
    }

    #enquiry-form {
        width: 100%;
        height: 20rem;
    }

/*footer styles*/
    footer > p {
        align-self: center;
    }
}

/*media query for small laptops and bigger*/
@media screen and (min-width: 992px) {
/*general styles for main content*/
    main {
        margin-top: 30vh;
    }
/*styles for header*/
    header {
        height: 30vh;
        position: absolute;
    }

    header > div {
        height: 55vh;
    }
/*navigation styles*/
    #nav > li :hover {
        border-bottom: 2px solid #b30000;
    }
/*INDEX.HTML MAIN CONTENT STYLES*/
/*reasons section styles*/
    #reasons {
        padding: 0 5rem;
    }
/*styles for what we teach section*/
    #what-we-teach {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #what-we-teach > div {
        width: 47%;
    }

    #images {
        column-count: 3;
    }
    
}

/*high resolution devices*/
@media screen and (min-width: 1200px) {
    header {
        height: 35vh;
    }

    main {
        margin-top: 35vh;
    }
    
    ::placeholder {
        font-size: 18px;
    }
/*what we teach section styles*/
    #what-we-teach {
        width: 100%;
    }

    #what-we-teach > div {
        width: 47%;
        margin-left: 1.25rem;
        padding: 0.5rem;
    }
    
}



