/*google import font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*styles to override browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
    font-family: 'Kanit';
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

/*styles for header*/
header {
    height: 25vh;
    background-color: black;
    color: white;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/ameya-sawant-7RJTPLgwMsc-unsplash.jpg) no-repeat center bottom/cover;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 28vh;
}

/*styles for navigation*/
a {
    text-decoration: none;
    color: white;
}

.active {
    border-bottom: 2px solid #b30000;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;  
}

#nav > li {
    padding: 0 0.5rem;
}

/*about us styles*/
#about-us-section {
    width: 100vw;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

#about-us {
    background-color: white;
}

/*styles for what we teach*/
#what-we-teach {
    background-color: black;
    color: white;
}

#what-we-teach > div {
    margin: 0.5rem 0.5rem;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > h4, p {
    background-color: rgba(0, 0, 0, 0.5);
}

#boxing {
    background: url(../images/pexels-pixabay-290416.jpg) no-repeat center center/cover;
}

#kickboxing {
    background: url(../images/pexels-coco-championship-598686.jpg) no-repeat center center/cover;
}

#mma {
    background: url(../images/pexels-pavel-danilyuk-6295725.jpg) no-repeat center center/cover;
}

#bjj {
    background: url(../images/pexels-cottonbro-studio-7988366.jpg) no-repeat center 40%/cover;
}

#mauy-thai {
    background: url(../images/pexels-alexa-popovich-9302141.jpg) no-repeat center 30%/cover;
}

#one-to-one {
    background: url(../images/pexels-pavel-danilyuk-6295762.jpg) no-repeat center center/cover;
}

/*session time styles*/
#session-times {
    width: 100%;
}
#session {
    margin: 4px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#session > div {
    border: 2px solid whitesmoke;
    width: 45vw;
    text-align: center;
    left: 50px;
    padding: 4px 0;
}

#session {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    text-shadow: 2px 2px #3a3a3a;
    background: url('../images/derrick-treadwell-KufWaAolhP4-unsplash.jpg') no-repeat center center/cover;
}

#session div {
    flex-basis: 200px;
    align-self: center;
    flex-grow: 1;

}

/*styles for footer*/
footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

footer > h2 {
    align-self: center;

}

footer > p {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    list-style-type: none;
    margin: 0.5rem 0;
}


/*media query for tablets and bigger*/
@media screen and (min-width: 768px) {
/*general style for body*/
    body {
        font-size: 150%;
    }
/*main content styles*/
    #what-we-teach > div {
        width: 46%;
        height: 300px;
        margin-left: 1rem;
        padding-top: 1rem;
    }

    #what-we-teach {
        display: flex;
        flex-wrap: wrap;
    }

/*footer styles*/
    footer > p {
        align-self: center;
    }
}

/*media query for small laptops and bigger*/
@media screen and (min-width: 992px) {
/*styles for header*/
    header {
        height: 55vh;
    }

    header > div {
        height: 55vh;
    }
/*navigation styles*/
    #nav > li :hover {
        border-bottom: 2px solid #b30000;
    }
/*styles for what we teach section*/
    #what-we-teach {
        width: 100%;
    }

    #what-we-teach > div {
        width: 48%;
    }
    
}



