/*google import font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

/*styles to override browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
    font-family: 'Roboto Condensed';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One';
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

/*styles for header*/
header {
    height: 25vh;
    background-color: black;
    color: white;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/ameya-sawant-7RJTPLgwMsc-unsplash.jpg) no-repeat center bottom/cover;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 28vh;
}

/*styles for navigation*/
a {
    text-decoration: none;
    color: white;
}

.active {
    border-bottom: 2px solid #b30000;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;  
}

#nav > li {
    padding: 0 0.5rem;
}

/*about us styles*/
#about-us-section {
    width: 100vw;
    padding: 1rem 1.5rem;
}

/*reasons styles*/
#reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b30000;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem 0;
}

#booking {
    color: white;
}
/*styles for what we teach*/
#what-we-teach {
    background-color: black;
    color: white;
}

#what-we-teach > div {
    margin: 0.5rem 0.5rem;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxing > * {
    background-color: rgba(0, 0, 0, 0.5);
}
#boxing {
    background: url(../images/pexels-pixabay-290416.jpg) no-repeat center center/cover;
}

#kickboxing {
    background: url(../images/pexels-coco-championship-598686.jpg) no-repeat center center/cover;
}
#kickboxing > * {
    background-color: rgba(0, 0, 0, 0.5);
}

#mma {
    background: url(../images/pexels-pavel-danilyuk-6295725.jpg) no-repeat center center/cover;
}
#mma > * {
    background-color: rgba(0, 0, 0, 0.5);
}

#bjj {
    background: url(../images/pexels-cottonbro-studio-7988366.jpg) no-repeat center 40%/cover;
}
#bjj > * {
    background-color: rgba(0, 0, 0, 0.5);
}

#mauy-thai {
    background: url(../images/pexels-alexa-popovich-9302141.jpg) no-repeat center 30%/cover;
}
#mauy-thai > * {
    background-color: rgba(0, 0, 0, 0.5);
}

#one-to-one {
    background: url(../images/pexels-pavel-danilyuk-6295762.jpg) no-repeat center center/cover;
}
#one-to-one > * {
    background-color: rgba(0, 0, 0, 0.5);
}

/*session time styles*/
#session-times {
    width: 100%;
}
#session {
    margin: 4px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#session > div {
    border: 2px solid whitesmoke;
    width: 45vw;
    text-align: center;
    left: 50px;
    padding: 4px 0;
}

#session {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    text-shadow: 2px 2px #3a3a3a;
    background: url('../images/derrick-treadwell-KufWaAolhP4-unsplash.jpg') no-repeat center center/cover;
}

#session div {
    flex-basis: 200px;
    align-self: center;
    flex-grow: 1;

}

/*styles for price section*/
#prices {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    align-items: center;
}

#children, #teens, #adults {
    background-color: #b30000;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*styles for enquiry form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}

form > input {
    height: 30px;
    padding: 5px;
}

textarea {
    height: 100px;
    overflow-y: scroll;
}

::placeholder {
    color: white;
}

#contact {
    width: 100%;
}

#enquiry-form > * {
    width: 70%;
    margin: 0.25rem 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 5px;
}

/*styles for footer*/
footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

footer > h2 {
    align-self: center;

}

footer > p {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    list-style-type: none;
    margin: 0.5rem 0;
}


/*media query for tablets and bigger*/
@media screen and (min-width: 768px) {
/*general style for body*/
    body {
        font-size: 150%;
    }

    #reasons {
        display: flex;
        flex-direction: row;
        font-size: 80%;
        justify-content: space-between;
        padding: 0 1rem;
    }
/*main content styles*/
    #what-we-teach > div {
        width: 46%;
        height: 300px;
        margin-left: 1rem;
        padding-top: 1rem;
    }

    #what-we-teach {
        display: flex;
        flex-wrap: wrap;
    }

    #prices {
        width: 80%;
        align-self: center;
    }

    #contact {
        display: flex;
        width: 100%;
    }

    #enquiry {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 48%;
    }

    #enquiry > h3 {
        align-self: center;
        margin-top: 1rem
    }

/*enquiry form styles*/

    #enquiry-form {
        width: 100%;
    }

/*footer styles*/
    footer > p {
        align-self: center;
    }
}

/*media query for small laptops and bigger*/
@media screen and (min-width: 992px) {
/*styles for header*/
    header {
        height: 55vh;
    }

    header > div {
        height: 55vh;
    }
/*navigation styles*/
    #nav > li :hover {
        border-bottom: 2px solid #b30000;
    }

    #reasons {
        padding: 0 5rem;
    }
/*styles for what we teach section*/
    #what-we-teach {
        width: 100%;
    }

    #what-we-teach > div {
        width: 48%;
    }
    
}



