/*styles to override browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
}

main {
    display: flex;
    flex: 1 0 auto;
}

/*styles for header*/
header {
    height: 25vh;
    background-color: black;
    color: white;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/ameya-sawant-7RJTPLgwMsc-unsplash.jpg) no-repeat center bottom/cover;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 28vh;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

footer > h2 {
    align-self: center;

}

footer > p {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    list-style-type: none;
    margin: 0.5rem 0;
}
/*styles for navigation*/
a {
    text-decoration: none;
    color: white;
}

.active {
    border-bottom: 2px solid #b30000;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;  
}

#nav > li {
    padding: 0 0.5rem;
}

/*media query for tablets and bigger*/
@media screen and (min-width: 768px) {
/*styles for header*/
    header {
        font-size: 150%;
    }
    
}

/*media query for small laptops and bigger*/
@media screen and (min-width: 992px) {
/*styles for header*/
    header {
        height: 55vh;
    }

    header > div {
        height: 55vh;
    }
}



